
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1.5;
	font-size: 62.5%;
	font-family: Arial, sans-serif;
	
	background: #fff url(../img/header-gold-sunglobe.jpg) no-repeat top center;
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a:visited {
	font-weight: bold;
	color: #0c6b4d;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
	color: #cfc493;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
#content {
	font-size: 1.3em;
	color: #565347;
}
p {
	margin-bottom: 1em;
}

h1 { font-size: 35px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 21px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-weight:900; font-size: 17px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-weight:900; font-size: 14px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 11px; line-height: 24px; }
	h6 { font-size: 10px; line-height: 21px; }
	

	
	/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style-image: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px;}
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px;}
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	
	
/********************
	Page Layout
********************/
.utilities, .header, #navigation, .top-navigation, #content, .footer-wrapper, #social-media {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
}
.utilities:before, .utility-weather-link:before, .header:before, #navigation:before, .top-navigation:before, #content:before, #footer:before,
.utilities:after, .utility-weather-link:after, .header:after, #navigation:after, .top-navigation:after, #content:after, #footer:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;
}
.utilities:after, .utility-weather-link:after, .header:after, #navigation:after, .top-navigation:after, #content:after, #footer:after {
  clear: both;
}
.utilities, .utility-weather-link, .header, #navigation, .top-navigation, #content, #footer {
  zoom: 1;
}


/********************
	Header
********************/
.header-wrapper {


	min-width: 1000px;
	/*margin-bottom: 2em;*/
}
.header {
	padding: 20px 0px;
}
.home-title {
	text-indent: -9999px;
	font: 4em Garamond, "Times New Roman", serif;
	margin-bottom: 0;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));  
	text-shadow: 0 1px 0 white;
}
.home-title a {
	color: #e0e0e0;
	font-weight: normal;
	
}



/********************
	TopNavigation
********************/

#navigation {
	text-align: center;
	width: 1000px;
}

.top-navigation {
	padding: 0;
	margin: 0 auto;
	background-color: #108f66;
	background-image: url("../img/green-lightdark-repeat.jpg");
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#108f66), to(#0c6b4d));
   	background-image: -webkit-linear-gradient(top, #108f66, #0c6b4d);
   	background-image:    -moz-linear-gradient(top, #108f66, #0c6b4d);
   	background-image:     -ms-linear-gradient(top, #108f66, #0c6b4d);
   	background-image:      -o-linear-gradient(top, #108f66, #0c6b4d);
	-moz-box-shadow:    0px 1px 7px rgba(0, 0, 0, .35);
  	-webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, .35);
  	box-shadow:         0px 1px 7px rgba(0, 0, 0, .35);
}
.top-navigation li {
	float: left;
	width: 165px;
	-moz-box-shadow:    -1px 0px 0px #166c51;
  	-webkit-box-shadow: -1px 0px 0px #166c51;
  	box-shadow:         -1px 0px 0px #166c51;
	border-left: 1px solid #3ea485;
}

.top-navigation a {
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #fff;
	margin-left: 1px;
	font-weight: normal;
}
.top-navigation a:hover {
	background: url("../img/nav-rollover.png") no-repeat center center;



}

	
.top-navigation li:first-child {
	-moz-box-shadow:    none;
  	-webkit-box-shadow: none;
  	box-shadow:         none;
	border-left: none;
	margin-left: -1px;
}








/********************
	TopNavigation
********************/
#content {
	padding-top: 1.5em;
	background-color: transparent;
}
#page {
	width: 1050px;
	padding: 0 10px;
	margin: 0 auto;
}



/********************
	Footer
********************/
#footer {
	margin-top: 1.5em;
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 5px solid #dcddde; 
	height: 75px;
}
.footer-usf-logo {
	margin-bottom: 1em;
}
.footer-info {
	float: left;
}
.footer-links {
	float: right;
}
.footer-outside-sites {
	float: left;
	margin: 0 20px 4em 0;
	font-size: 1.3em;
}
.footer-outside-sites a:link, .footer-outside-sites a:visited {
	font-weight: normal;
	color: #333;
}
.footer-outside-sites a:hover, .footer-outside-sites a:active {
	color: #cfc493;
}
.footer-outside-sites li {
	margin-bottom: .5em;
}
.footer-copy {
	clear: both;
	font-size: 1.3em;
}

.footer-copy {
color: #666;
font-size: .9em;
}



#home-sub-title {
font-size: 2em;
}

.social-media-list {
margin: 0px;
}
.social-media-list li {
display: inline;
}
		
		
		/* #Forms
================================================== */



label,
legend {
display: block;
font-size: 10px;  
}

.get-started {
width: 320px;
height: 110px;
position: relative;
float: right;
}


.get-started-secondary {
width: 320px;
float: right;
margin-top: -95px;

}

#leadformwrap {
display: block;
padding: 0;
margin: 0 auto;
border: 1px solid #3ea485;
background-color: #108f66;
background: #0c6b4d url(../img/form_bg.jpg)
}

#header_form {padding:10px 22px 10px 22px;}

#leadformwrap #brochure{display: none;}


form.global_form h3 {
font: 3em Garamond, "Times New Roman", serif;
color:#fff; 
padding-bottom: 0px; 
margin-bottom: 14px;
}
form.global_form p {color: #fff; font-size: 12px; line-height:1.3;}

form.global_form input {
color: #333;
width:260px; 
border:1px solid #3ea485; 
margin: 8px 0; 
background-color:#fff;
font-size:12px;

padding:7px 4px;
}


form.global_form #submit_form {

color: #0d7051;
font-weight: 900;
margin: 15px 4px 16px 0px; 
width: 140px; 
background: #cfc493;

	background: -moz-linear-gradient(
		top,
		#efebbc 0%,
		#cfc493);
		
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#efebbc),
		to(#cfc493));
		
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #cfc493;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(239,235,188,1);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(239,235,188,1);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(239,235,188,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);




}

form.global_form #submit_form:hover  {
	color: #0d7051;
	background: -moz-linear-gradient(
		top,
		#d9cf9e 0%,
		#c7bc8d);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d9cf9e),
		to(#c7bc8d));
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #cfc493;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(205,196,147,1);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(205,196,147,1);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(205,196,147,1);
	text-shadow:
		0px -1px 0px rgba(186,186,186,0.2),
		0px 1px 0px rgba(255,255,255,0.3);

}






.applybtn {
	margin: 20px;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#efebbc 0%,
		#cfc493);
		
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#efebbc),
		to(#cfc493));
		
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #cfc493;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(239,235,188,1);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(239,235,188,1);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(239,235,188,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.applybtn:hover {

	color: #0d7051;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#d9cf9e 0%,
		#c7bc8d);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d9cf9e),
		to(#c7bc8d));
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #cfc493;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(205,196,147,1);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(205,196,147,1);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(205,196,147,1);
	text-shadow:
		0px -1px 0px rgba(186,186,186,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.applybtn a:hover {
	color: #0d7051;
}






label#privacy_label {float: left;color: #fff;}
label#privacy_label a {color: #fff; text-decoration: underline;}




.title {
padding-top: 10px; !important
}


ol.bull {
margin: 10px 40px;
}

ol.bull li {
padding: 0px 0px 7px 0px;
}

ul.bull{
list-style: disc;
margin: 10px 40px;
}

ul.bull li {
padding: 0px 0px 7px 0px;
}

hr {
border: 1px solid #e0e0e0;
margin: 30px 0 30px 0;
}


.lefty {
border-right: 1px solid #f0f0f0;
margin-right: 20px;
}


.footer-info {
padding-top:20px;
}
